{% extends "base.html" %}
{% block title %}Experience{% endblock %}

{% block content %}

<h1 class="fw-bold" align = "Center" >Experience</h1>

<div>
  <br/>

<div class="card">
  <div class="card-header">Data Analysis Intern (June 2023 - Current)</i>
  </div>
  <div class="card-body">
    <h5 class="card-title">Compunnel</h5>
    <p class="card-text">Created a Customer Lifetime Value prediction model using Machine Learning algorithms.</p>
  </div>
</div>

<div>
  <br/>

<div class="card">
  <div class="card-header">Software Development Intern (May 2022 - August 2022)</i>
  </div>
  <div class="card-body">
    <h5 class="card-title">Commvault</h5>
    <p class="card-text">Worked with Virtual Machines, and used Python/Powershell to interact with them. 
      Automated a test case to update 50+ virtual machines and manage their snapshots accordingly.
      Utilized SQL, Java, and Javascript to create and interact with database tables.
      Integrated my database table into a report/workflow that could manage 100+ virtual machine allocation to users.
      Launched a python library that allows users to allocate and free virtual machines.
      Used SQL transactions to eliminate the problem that the same VM was allocated twice.</p>
  </div>
</div>
</div>

{% endblock %}