{% extends "base.html" %}
{% block title %}Projects{% endblock %}

{% block content %}

<h1 class="fw-bold" align = "Center" >Projects</h1>

<div>
    <br/>

  <div class="card">
    <div class="card-header">
        <i class="fab fa-discord"></i> <i class="fab fa-python"></i>
    </div>
    <div class="card-body">
      <h5 class="card-title">Discord Soundboard</h5>
      <p class="card-text">A discord bot that acts as a soundboard when in a voice channel. Coded using python, the discord.py library, and FFMPEG.</p>
      <a href="/discordsoundboard" class="btn btn-dark"><i class="fab fa-github"></i> GitHub</a>
    </div>
  </div>
</div>

<div>
    <br/>

  <div class="card">
    <div class="card-header">
        <i class="fab fa-unity"></i>
    </div>
    <div class="card-body">
      <h5 class="card-title">FlameRacing</h5>
      <p class="card-text">A game made in Unity using C#. All assets were downloaded for free from various souces online. The files are too large to
          host on GitHub, so the GitHub repository will have a link to Google Drive where you can download it. 
      </p>
      <a href="/flameracing" class="btn btn-dark"><i class="fab fa-github"></i> GitHub</a>
    </div>
  </div>
</div>

<div>
    <br/>

  <div class="card">
    <div class="card-header">
        <i class="fab fa-discord"></i> <i class="fab fa-python"></i>
    </div>
    <div class="card-body">
      <h5 class="card-title">HumanBot</h5>
      <p class="card-text">A discord bot made to simulate a human, somewhat. It has a few extra features though. It was made using python and 
          the discord.py library, as well as FFMPEG.
      </p>
      <a href="/humanbot" class="btn btn-dark"><i class="fab fa-github"></i> GitHub</a>
    </div>
  </div>
</div>

<div>
    <br/>

  <div class="card">
    <div class="card-header">
        <i class="fab fa-discord"></i> <i class="fab fa-reddit"></i> <i class="fab fa-python"></i>
        
    </div>
    <div class="card-body">
      <h5 class="card-title">DiscordSubredditScraper</h5>
      <p class="card-text">A discord bot that takes a subreddit as input and returns reddit posts from that subreddit, either sorting by top or hot. It was made using
          python, the PRAW python library, the discord.py library, and reddit.
      </p>
      <a href="/subreddit" class="btn btn-dark"><i class="fab fa-github"></i> GitHub</a>
    </div>
  </div>
</div>

<div>
    <br/>

  <div class="card">
    <div class="card-header">
        <i class="fab fa-python"></i> <i class="fas fa-flask"></i> <i class="fab fa-html5"></i>
        
    </div>
    <div class="card-body">
      <h5 class="card-title">NewWebsite</h5>
      <p class="card-text">This website! Not sure what I want to really do with it, but so far it's looking like a showcase website.
          This website was made using python, the flask python library, and html.
      </p>
      <a href="/this-website" class="btn btn-dark"><i class="fab fa-github"></i> GitHub</a>
    </div>
  </div>
</div>

{% endblock %}