{% extends "base.html" %}
{% block title %}Projects{% endblock %}

{% block content %}

<h1 class="fw-bold" align = "Center" >Projects</h1>

<div>
  <br/>

<div class="card">
  <div class="card-header">
      <i class="fab fa-discord"></i> <i class="fab fa-python"></i> <i class="fab fa-react"></i> <i class="fab fa-html5"></i> <i class="fab fa-css3"></i>
  </div>
  <div class="card-body">
    <h5 class="card-title">Shockwave</h5>
    <p class="card-text">A discord bot that allows users to easily create teams for 10 person League of Legends games. The teams can either be created randomly or through the use of team captains. The users will also be moved automatically to the appropriate voice channel once the teams are created. Utilizes the discord api to pull server/client data.</p>
    <a href="/shockwave" class="btn btn-primary"> Website</a>
    <a href="/shockwavegithub" class="btn btn-dark"><i class="fab fa-github"></i> GitHub</a>
  </div>
</div>
</div>

<div>
  <br/>

<div class="card">
  <div class="card-header">
      <i class="fab fa-kaggle"></i> 
  </div>
  <div class="card-body">
    <h5 class="card-title">Housing Price Predictor</h5>
    <p class="card-text">Implemented a linear regression machine learning model in C to predict prices of houses based on its attributes. Data was taken from a kaggle data set.
      Created a custom linear algebra library, and utilized Gauss-Jordan Elimination to invert matrices. Optimized workflow with dynamic memory allocation</p>
  </div>
</div>
</div>

<div>
  <br/>

<div class="card">
  <div class="card-header">
    <i class="fas fa-terminal"></i> 
  </div>
  <div class="card-body">
    <h5 class="card-title">Online Tic-Tac Toe</h5>
    <p class="card-text">Wrote a server in C that manages a two-player game of Tic-Tac-Toe. It sends and receives messages using sockets, listens
      for incoming connection requests, and manages coordination between multiple threads</p>
  </div>
</div>
</div>

<div>
  <br/>

<div class="card">
  <div class="card-header">
    <i class="fas fa-terminal"></i> 
  </div>
  <div class="card-body">
    <h5 class="card-title">Custom Shell</h5>
    <p class="card-text">Made a custom shell in C that could run programs, read and write to files, and spawn processes.</p>
  </div>
</div>
</div>

<div>
    <br/>

  <div class="card">
    <div class="card-header">
        <i class="fab fa-discord"></i> <i class="fab fa-python"></i>
    </div>
    <div class="card-body">
      <h5 class="card-title">Discord Soundboard</h5>
      <p class="card-text">A discord bot that acts as a soundboard when in a voice channel. Coded using python, the discord.py library, and FFMPEG.</p>
      <a href="/discordsoundboard" class="btn btn-dark"><i class="fab fa-github"></i> GitHub</a>
    </div>
  </div>
</div>

<div>
    <br/>

  <div class="card">
    <div class="card-header">
        <i class="fab fa-unity"></i>
    </div>
    <div class="card-body">
      <h5 class="card-title">FlameRacing</h5>
      <p class="card-text">A game made in Unity using C#. All assets were downloaded for free from various souces online. The files are too large to
          host on GitHub, so the GitHub repository will have a link to Google Drive where you can download it. 
      </p>
      <a href="/flameracing" class="btn btn-dark"><i class="fab fa-github"></i> GitHub</a>
    </div>
  </div>
</div>

<div>
    <br/>

  <div class="card">
    <div class="card-header">
        <i class="fab fa-discord"></i> <i class="fab fa-python"></i>
    </div>
    <div class="card-body">
      <h5 class="card-title">HumanBot</h5>
      <p class="card-text">A discord bot made to simulate a human, somewhat. It has a few extra features though. It was made using python and 
          the discord.py library, as well as FFMPEG.
      </p>
      <a href="/humanbot" class="btn btn-dark"><i class="fab fa-github"></i> GitHub</a>
    </div>
  </div>
</div>

<div>
    <br/>

  <div class="card">
    <div class="card-header">
        <i class="fab fa-discord"></i> <i class="fab fa-reddit"></i> <i class="fab fa-python"></i>
        
    </div>
    <div class="card-body">
      <h5 class="card-title">DiscordSubredditScraper</h5>
      <p class="card-text">A discord bot that takes a subreddit as input and returns reddit posts from that subreddit, either sorting by top or hot. It was made using
          python, the PRAW python library, the discord.py library, and reddit.
      </p>
      <a href="/subreddit" class="btn btn-dark"><i class="fab fa-github"></i> GitHub</a>
    </div>
  </div>
</div>

<div>
    <br/>

  <div class="card">
    <div class="card-header">
        <i class="fab fa-python"></i> <i class="fas fa-flask"></i> <i class="fab fa-html5"></i> <i class="fab fa-bootstrap"></i> 
        
    </div>
    <div class="card-body">
      <h5 class="card-title">MyWebsite</h5>
      <p class="card-text">This website! Not sure what I want to really do with it, but so far it's looking like a showcase website.
          This website was made using python, the flask python library, and html.
      </p>
      <a href="/this-website" class="btn btn-dark"><i class="fab fa-github"></i> GitHub</a>
    </div>
  </div>
</div>

{% endblock %}