{% extends "base.html" %}
{% block title %}Posts{% endblock %}

{% block content %}

<h1 class="fw-bold" align = "Center" >Posts</h1>

<br/>

{% for x in range(50) %}
    <div id = "posts">
        <div class="card">
            <div class="card-header">
                <i class="fab fa-reddit"></i> 
                <!-- {{author_list[index0]}} -->
            </div>
            <div class="card-body">
            <h5 class="card-title">Title</h5>
            <p class="card-text">Body</p>
            <a href="#" class="btn btn-primary">Link</a>
            </div>
        </div>

        <br/>
    </div>
{% endfor %}

{% endblock %}