{% extends "base.html" %}

{% block title %}About Me{% endblock %}

{% block content %}

<h1 class="fw-bold" align = "Center" >Suyog Khanal</h1>

<br/>

<div class="card">
    <div class="card-header">
      About Me
    </div>
    <div class="card-body">
      <h5 class="card-title">Hey! I'm Suyog Khanal.</h5>
      <p class="card-text">Welcome to my website! This website is made using Python, Flask, Bootstrap, FontAwesome, HTML5, and hosted on Render. This website is used to showcase my projects
      </p>
    </div>
  </div>

  <br/>

  <div class="card">
    <div class="card-header">
        <i class="fab fa-twitter"></i>
       Twitter
    </div>
    <div class="card-body">
      <h5 class="card-title">@SuyogKhanal626</h5>
      <p class="card-text">Feel free to follow me on twitter! My Direct Messages are open if you want to message me there.</p>
      <a href="/twitter" class="btn btn-primary"><i class="fab fa-twitter"></i> Twitter</a>
    </div>
  </div>

  <br/>

  <div class="card">
    <div class="card-header">
        <i class="fab fa-github"></i>
       GitHub
    </div>
    <div class="card-body">
      <h5 class="card-title">@SuyogKhanal5</h5>
      <p class="card-text">Here is my GitHub! I've got some projects up on there, and some notes that I take from when I am learning various things as well.</p>
      <a href="/github" class="btn btn-dark"><i class="fab fa-github"></i> GitHub</a>
    </div>
  </div>

  <br/>

  <div class="card">
    <div class="card-header">
      <i class="fab fa-linkedin"></i>
       LinkedIn
    </div>
    <div class="card-body">
      <h5 class="card-title">suyog-khanal</h5>
      <p class="card-text">Connect with me on LinkedIn here!</p>
      <a href="/linkedin" class="btn btn-primary"><i class="fab fa-linkedin"></i> LinkedIn</a>
    </div>
  </div>

  <br/>

  <div class="card">
    <div class="card-header">
        <i class="fas fa-envelope"></i>
       Email
    </div>
    <div class="card-body">
      <h5 class="card-title">suyogkhanal@outlook.com</h5>
      <p class="card-text">Email is probably the quickest way to get in contact with me, so please send me an email if you want to get in contact.</p>
    </div>
  </div>

  <br/>

{% endblock %}