{% extends "base.html" %}
{% block title %}Updates{% endblock %}

{% block content %}

<h1 class="fw-bold" align = "Center" >Updates</h1>

<div>
</br>

<div>
</br>

<div class="card">
    <div class="card-header">
        6/11/2023 - 11:24 PM
    </div>
    <div class="card-body">
    <h5 class="card-title">I'm back (again)</h5>
    <p class="card-text">
        Well, its been over a year since I've worked on this website. I'm converting this into a place where I can display what projects I have completed. I'm going to 
        be hosting this on render. Still using flask because I don't really feel like rewriting all of this in react.
    </p>
    </div>
</div>
</div>

</br>

<div class="card">
    <div class="card-header">
        2/6/2022 - 9:55 PM
    </div>
    <div class="card-body">
    <h5 class="card-title">It's been a while</h5>
    <p class="card-text">
        Well, it's been a while since I've posted an update, let alone worked on the site. Not that anyone can see
        this message unless its through GitHub. Basically I got a bit burned out because of the issue I found in the previous
        post, and I had to deal with school work for a while. When I got past it, I sort of pushed it to the side. So let 
        me talk about my plans for the site. I want to figure out how to host this local web app onto a website. I am thinking
        of buying "suyogkhanal.com" or something of the sort. Google Domains offers it for only like $12 a year, so I am thinking
        of using that. On top of that, I also have a Raspberry Pi, which I have been using to host my discord bots. I am looking
        into using the Raspberry Pi to host the website, but I'm not really sure how to do that, or if its necessary. I'm going 
        to try to figure out what went wrong with what I was working on before, but if I can't figure it out I'll just move on
        to something else. Here's to hoping I can accomplish this, school's gotten a bit harder for me this semester. 
    </p>
    </div>
</div>
</div>

<div>
    </br>

    <div class="card">
        <div class="card-header">
            10/22/2021 - 1:12 PM
        </div>
        <div class="card-body">
        <h5 class="card-title">Running into Undefined Error in Jinja2</h5>
        <p class="card-text">
            So this website uses Jinja templating in my html documents for various purposes. However, I am trying
            to transfer variables and lists to this html doc but I keep running into an undefined error.
        </p>
        </div>
    </div>
</div>

<div>
    </br>

    <div class="card">
        <div class="card-header">
            10/20/2021 - 12:30 PM
        </div>
        <div class="card-body">
        <h5 class="card-title">Working on Reddit Page</h5>
        <p class="card-text">
            I am currently trying to use the praw python library to take in a subreddit as input, 
            and then have it return 50 posts in a card format for each of those posts. I've gotten a bit busy with 
            school work, so its been taking a while. I've got some more ideas for projects after this that might be a bit
            easier though.
        </p>
        </div>
    </div>
</div>

<div>
    </br>

    <div class="card">
        <div class="card-header">
            10/14/2021 - 11:14 PM
        </div>
        <div class="card-body">
        <h5 class="card-title">Added a Project Page</h5>
        <p class="card-text">
            I've added a Projects page, listing all of my projects that I've worked on, including links to their GitHubs.
        </p>
        </div>
    </div>
</div>

<div>
    </br>

    <div class="card">
        <div class="card-header">
            10/14/2021 - 10:02 PM
        </div>
        <div class="card-body">
        <h5 class="card-title">Added an About Me</h5>
        <p class="card-text">
            Alright, I added an About Me page to the website. Just click on the icon in the navbar, and it should redirect you right to it. Also maybe I should add
            some sort of sorting feature to this update page at some point. Don't know if I'll get around to it, but maybe I will. 
        </p>
        </div>
    </div>
</div>

<div>
    </br>

    <div class="card">
        <div class="card-header">
            10/14/2021 - 9:06 PM
        </div>
        <div class="card-body">
        <h5 class="card-title">First Update</h5>
        <p class="card-text">I think I am going to use this page as some sort of place to post updates on what I am working on.
            It's probably easier to use something like twitter for this sort of thing, but I've got to practice this somehow haha.
        </p>
        </div>
    </div>
</div>

{% endblock %}