{% extends "base.html" %}
{% block title %}Updates{% endblock %}

{% block content %}

<h1 class="fw-bold" align = "Center" >Updates</h1>

<div>
</br>

<div class="card">
    <div class="card-header">
        10/14/2021 - 11:14 PM
    </div>
    <div class="card-body">
    <h5 class="card-title">Added a Project Page</h5>
    <p class="card-text">
        I've added a Projects page, listing all of my projects that I've worked on, including links to their GitHubs.
    </p>
    </div>
</div>
</div>

<div>
    </br>

    <div class="card">
        <div class="card-header">
            10/14/2021 - 10:02 PM
        </div>
        <div class="card-body">
        <h5 class="card-title">Added an About Me</h5>
        <p class="card-text">
            Alright, I added an About Me page to the website. Just click on the icon in the navbar, and it should redirect you right to it. Also maybe I should add
            some sort of sorting feature to this update page at some point. Don't know if I'll get around to it, but maybe I will. 
        </p>
        </div>
    </div>
</div>

<div>
    </br>

    <div class="card">
        <div class="card-header">
            10/14/2021 - 9:06 PM
        </div>
        <div class="card-body">
        <h5 class="card-title">First Update</h5>
        <p class="card-text">I think I am going to use this page as some sort of place to post updates on what I am working on.
            It's probably easier to use something like twitter for this sort of thing, but I've got to practice this somehow haha.
        </p>
        </div>
    </div>
</div>

{% endblock %}