{% extends "base.html" %}
{% block title %}Updates{% endblock %}

{% block content %}

<h1 class="fw-bold text-decoration-underline" align = "Center" >Updates</h1>

<div>
    </br>

    <div class="card">
        <div class="card-header">
            10/14/2021 - 9:06 PM
        </div>
        <div class="card-body">
        <h5 class="card-title">First Update</h5>
        <p class="card-text">I think I am going to use this page as some sort of place to post updates on what I am working on.
            It's probably easier to use something like twitter for this sort of thing, but I've got to practice this somehow haha.
        </p>
        </div>
    </div>
</div>

{% endblock %}